@page "/"

<ul class="nextpage-prevpage">
	<div></div>
	<li><a href="Page2">Next page</a></li>
</ul>

<p>I have built all of my PCs myself, but this is the first time I am trying a custom watercooled system.</p>
<p>First issue, received the case with a bash in the front of it 😞</p>
<p>Not the end of the world and a quick email to Overclockers on Friday and they had a replacement delivered on Sunday - way to go Overclockers!</p>
<img class="image" src="imgs/20221125_180234.jpg">

