@page "/Page11"

<ul class="nextpage-prevpage">
	<li><a href="Page10">Previous page</a></li>
	<li><a href="Page12">Next page</a></li>
</ul>

<p>This is the bit I need.</p>

<img class="image" src="imgs/20221213_034026.jpg">

<p>and this can go into the bin.</p>
<img class="image" src="imgs/20221213_034102.jpg">
