@page "/Page14"

<ul class="nextpage-prevpage">
	<li><a href="Page13">Previous page</a></li>
	<li><a href="">First page</a></li>
</ul>

<p>Specs:</p>
<ul>
	<li>CPU 13900k</li>
	<li>64GB ddr5 memory</li>
	<li>ROG Hero motherboard</li>
	<li>4TB Raid0 NVME for main storage (2 drives) benchmarked at almost 14GB/s sequential read</li>
	<li>1TB NVME for data</li>
	<li>Cooling from EKWB</li>
	<li>Graphics card 3090ti</li>
</ul>

<p>Few things still to do:</p>
<ul>
	<li>Upgrade to new PSU (ATX3 is out soon), I am pushing the limit with this 860 watts one. Graphics card can use up to 440 watts, cpu can hit well over 300 watts and then there is still the pump and motherboard to take into account.</li>
	<li>The radiator I bought originally for the front doesn't fit, so get a smaller one and plug that in. This will mean using 3x120mm fans for the front instead of the 3x140mm fans currently installed.</li>
	<li>Usual software configuration starting with, bios update and driver install (that was a pain as well, ASUS has started hiding important drivers in the same place they hide old drivers).</li>
</ul>
