@page "/Page4"

<ul class="nextpage-prevpage">
	<li><a href="Page3">Previous page</a></li>
	<li><a href="Page5">Next page</a></li>
</ul>

<p>Cooler fitted, still got the sticky plastic to remove 😃</p>



<img class="image" src="imgs/20221211_190939.jpg">
