@page "/Page3"

<ul class="nextpage-prevpage">
	<li><a href="Page2">Previous page</a></li>
	<li><a href="Page4">Next page</a></li>
</ul>

<p>The standard CPU mount has an issue - noticed with intel 12th gen cpus. It holds the cpu only at the centre of the sides, causing the cpu to curve.</p>
<p>Intel states coolers all have curved plates so the design it this way. Okay, but cooler designers say Intels chips are all curved so they design the cooler that way. With this logic, I am predicting within 10 years cpus will be semi circular.</p>
<img class="image" src="imgs/std-cpu-mount.png">
<p>Jumped a bit here as the custom cpu mount is installed (along with the cooler backplate, mostly hidden here).</p>
<p>The custom cpu mount is a pain and has to be screwed in place with no more than 0.06NM of torque, that is enough force to lift 60grams. I am guessing this and it wasn't easy.</p>
<p>Yes I did make a mess of the mounting paste, but who cares, no one sees this - usually.</p>
<img class="image" src="imgs/cpu-mount.png">
<p>and yeah, I fitted the cooler and then took it off just for this pic, the things I do...</p>

