@page "/Page2"

<ul class="nextpage-prevpage">
	<li><a href="/">First page</a></li>
	<li><a href="Page3">Next page</a></li>
</ul>

<p>Got the case, motherboard installed just to help measure the space I have with the components. Now to dismantle it...</p>
<p>Extreme top disk drive caddies removed, below that top cover then front cover, right of that side panels with a panel that slides in the back of the case (hides cables coming out of the motherboards right side), below that front panels fan assembly - will need to dismantle that as well along with a few more bits.</p>
<img class="image" src="imgs/20221128_202001.jpg">
<p>Laurel looks a little worried at this stage.</p>
<img class="image" src="imgs/laurel-closeup.png">

