@page "/Page12"

<ul class="nextpage-prevpage">
	<li><a href="Page11">Previous page</a></li>
	<li><a href="Page13">Next page</a></li>
</ul>

<p>Fast forward a bit, top radiator and fans fitted (Lian Li again), tubbing cut and fitted. Had problems with this and had to turn the pump/reservoir combo again to make the tubing fit with kinks. Need to rethink closing the door later...</p>
<p>PSU and everything else is fitted, lots of kitchen roll placed under and potential leaks, but not worrying too much as I have tested the loop with an air pump and it held 0.9bar for 1 hour.</p>
<p>Fill reservoir and power on to fill the rest of the loop, nothing happens. I have the ATX bridging plug connected but...</p>

<img class="image" src="imgs/20221213_181054.jpg">

<p>I had forgot to plug the ATX power into the PSU, doh! Plugged in now and the water is bubbling through. Takes a full 1 litre of coolant and has no leaks.</p>
<img class="image" src="imgs/20221213_183107.jpg">

