@page "/Page8"

<ul class="nextpage-prevpage">
	<li><a href="Page7">Previous page</a></li>
	<li><a href="Page9">Next page</a></li>
</ul>

<p>Few bits here, I have swapped the fans on the front panel and thats fitted. The fans used are Lian Li so they actually stick together and that clump of three fans only need one power cable - again nicer for keeping things tidy.</p>
<p>Also fitted the pump/reservoir combo, the valve sticking out towards us is the drain valve. About now I notice an issue with it...</p>
<img class="image" src="imgs/20221212_220822.jpg">

<p>Trying to show the overlap, not easy to see but there is a few millimeters there.</p>
<img class="image" src="imgs/20221212_220844.jpg">
